.outer-body{
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.signin-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid rgb(222, 221, 221);
    border-radius: 10px;
    margin-top: -100px;    
    width: 56.5vh;
    height: 74%;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-logo{
    margin-top: 20px;
    font-size: 30px;
    font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
    word-spacing: -6px;
    line-height: 48px;
    padding-top: 18px;
}

h4{
    margin: 0px;
    padding-top: 5px;
    font-size: 23px;
    font-family: "Google Sans", "Noto Sans Myanmar UI", arial, sans-serif;
    font-weight: 100;
}

.header-text{
    margin-top: 13.5px;
    font-size: 17px;
}

.signin-form{
    margin-top: 30px;
    min-height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-pass{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    width: 100%;
}

.pass{
    width: 86%;
}

.form-checkbox{
    display: flex;
    justify-content: left;
    margin:17px 0 0 30px;
    font-size: 13px;
}

.user-email{
    width: 86%;
}

.signin-footer{
    font-size: 13px;
    margin: 2px 0 0 45px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    width: 70%;
    line-height:20px;
}

input{
  outline: none;
  border: 1px solid #e6e4e4;
  border-radius: 4px;
  padding: 0 10px;
  height: 50px;
  font-size: 15px;
  width: 70%;
}

input[type="email"]{
  display: block;
  width: 90.8%;
  margin: 5px 0 0 10px;
  padding: 2px 0 0 15px;
}


input[type="password"]{
  display: block;
  width: 91.2%;
  margin: 5px 0 0 41px;
  padding: 2px 0 0 15px;
}

input[type="text"]{
  display: block;
  width: 91.2%;
  margin: 5px 0 0 41px;
  padding: 2px 0 0 15px;
}
  .checkbox{
    cursor: pointer;
    width: 9%;
    height: 18px;
    margin-top: -1px;

  }

  .link1{
    text-decoration: none;
    color: #1144ed;
    font-size: 14px;
    padding: 0 0 0 7px;
  }

  .form-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0 0 42px;
    width: 82%;
  }

  .form-btn1{
    font-size: 14px;
    color: #4971f6;
    display: inline-block;
    font-family: arial rounded mt;
    text-decoration: none;
  }

  input[type="submit"]{
    background: #257bd0;
    color: #fff;
    border: none;
    width: 22%;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  input[type="submit"]:hover{
    background: #3260f6;
  }


  .submit-btn{
    background:  #157be1;
    color: #fff;
    border: none;
    width: 22%;
    height: 36px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .submit-btn:hover{
    background: #254fdb;
  }

  .footer-container{
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    width: 28.5%;
    top:2.8%;   
    font-size: 13px; 
}

.footer-link a{
    font-size: 12px;
    text-decoration: none;
    color: #7e7d7d;
    font-family: arial;
    font-weight: 550;
}
.footer-link {
    display: flex;
    justify-content: space-between;
    width: 21vh;   
}

.lang-select{
    border: none;
    font-size: 12px;
}


.beforeinput:focus{
  border: 1.5px solid #1f52f9;
}

.afterinput{
  border: 1.5px solid red;
  color: red;
}

.afterinput input::placeholder {
  color: red;
}

.Errormessage{
  color: red;
  padding-top: 3px;
  font-size: 12px;
  padding-left: 18px;
}


#btnj{
  background: #257bd0;
  color: #fff;
  border: none;
  width: 22%;
  height: 34.5px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 15px;
}